table img {
	width: 100px;
}

.status_btns a {
	font-size: 20px;
	cursor: pointer;
}

.fa-eye {
	color: darkgreen;
}

.fa-eye-slash {
	color: darkred;
}

.actions form {
	display: inline;
}

.actions a {
	vertical-align: middle;
}